{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types d'ski</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou type d'ski (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/type-ski/add">ajouter un type d'ski</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
           <th>designation</th> <th>(id_type_ski)</th><th>nombre d'skis</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if types_ski | length >= 1 %}
        {% for ligne in types_ski %}
           <tr>
                  <td>{{ ligne.libelle }}</td>
                  <td>{{ ligne.id_type_ski }}</td>
                   <td><span style="color: red">{{ ligne.nbr_skis }}</span></td>
                  <td>
                      <a class="btn btn-outline-danger" href="/admin/type-ski/edit?id_type_ski={{ ligne.id_type_ski }}">editer</a>&nbsp;
                      <a class="btn btn-outline-warning" href="/admin/type-ski/delete?id_type_ski={{ ligne.id_type_ski }}">supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de type d'ski
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
